<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <img src="img/logo.svg" alt="ORACLE" class="logo-img" id="logo-img">
    </a>

    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Jewelry</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Collections</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>

    <div class="header__actions actions">
      <button class="actions__btn" aria-label="Search">
        <img src="img/search.svg" alt="Search" class="actions__icon" id="icon-search">
      </button>
      <button class="actions__btn" aria-label="Account">
        <img src="img/user.svg" alt="Account" class="actions__icon" id="icon-user">
      </button>
      <button class="actions__btn" aria-label="Cart">
        <img src="img/cart.svg" alt="Cart" class="actions__icon" id="icon-cart">
      </button>
    </div>
  </div>
</header>